# Misc Files/Folders
.DS_Store
.empty
.svn
*~
Thumbs.db


# Package Management Folders
/components
/node_modules


# Build Files/Folders
/build
/tmp


# Sublime Files/Folders
/*.sublime-workspace
/*.sublime-project