/*!!
 * pickacolor.js - v#VERSION# - https://github.com/bsara/pickacolor.js
 *
 * Authors:
 *   Brandon Sara <bsara>
 *   Stefan Petre www.eyecon.ro (Original Author and Owner of "Color Picker" - http://www.eyecon.ro/colorpicker/)
 *   Rob Foster
 *
 * License:
 *   Copyright (c) 2014 Brandon Dale Sara
 *   Dual licensed under the MIT and GPL-3.0 licenses (https://github.com/bsara/pickacolor.js/blob/master/LICENSES)
 */

$fonts          = Arial, Helvetica, sans-serif

$advancedHeight = 176px
$advancedWidth  = 356px

$simpleHeight   = 176px
$simpleWidth    = 210px

$indicatorSize  = 6px


/* TINY RESET */
.pickacolor
  line-height: 1
  a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,button,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
    margin:         0
    padding:        0
    border:         0
    font-size:      100%
    vertical-align: baseline
    font-weight:    400
  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
    display: block
  ol,ul
    list-style: none
  blockquote,q
    quotes: none
  blockquote:after,blockquote:before,q:after,q:before
    content: ''
    content: none
  table
    border-collapse: collapse
    border-spacing:  0
  button:focus,input:focus,select:focus,textarea:focus
    outline: 0
  article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
    display: block
/* END TINY RESET */


.pickacolor
  overflow:    hidden
  position:    absolute
  font-family: $fonts
  display:     none


  .pickacolor-color
    width:      150px
    height:     150px
    left:       14px
    top:        13px
    position:   absolute
    background: #f00
    overflow:   hidden
    cursor:     crosshair

    div
      position:   absolute
      top:        0
      left:       0
      width:      150px
      height:     150px
      background: url("../images/pickacolor_overlay.png")

      div
        position:   absolute
        top:        0
        left:       0
        width:      11px
        height:     11px
        overflow:   hidden
        background: url("../images/pickacolor_select.gif")
        margin:     -5px 0 0 -5px


  .pickacolor-hue
    position: absolute
    top:      13px
    left:     171px
    width:    35px
    height:   150px
    cursor:   row-resize

    div
      position:        absolute
      width:           35px
      height:          9px
      overflow:        hidden
      margin:          -4px 0 0 0
      left:            0


  .pickacolor-slider
    background-position: bottom


  input.pickacolor-input
    background-color: transparent
    border:           1px solid transparent
    position:         absolute
    font-size:        10px
    font-family:      $fonts
    color:            #898989
    top:              4px
    right:            11px
    text-align:       right
    margin:           0
    padding:          0
    height:           11px



.pickacolor-advanced
  background:      url("../images/pickacolor_background_advanced_dark.png")
  background-size: $advancedWidth $advancedHeight
  width:           $advancedWidth
  height:          $advancedHeight


  @extend .pickacolor


  .pickacolor-cancel
    position:   absolute
    width:      22px
    height:     22px
    background: url("../images/pickacolor_cancel.png") top
    left:       295px
    top:        142px
    overflow:   hidden

    &.pickacolor_focus
      background-position: bottom


  .pickacolor-new-color
    position:   absolute
    width:      60px
    height:     30px
    left:       213px
    top:        13px
    background: #f00


  .pickacolor-current-color
    position:   absolute
    width:      60px
    height:     30px
    left:       283px
    top:        13px
    background: #f00


  .pickacolor-field
    height:              22px
    width:               62px
    background-position: top
    position:            absolute

    span
      position: absolute
      width:    12px
      height:   22px
      overflow: hidden
      top:      0
      right:    0
      cursor:   ns-resize


  .pickacolor-rgb-r
    background-image: url("../images/pickacolor_rgb_r.png")
    top:              52px
    left:             212px


  .pickacolor-rgb-g
    background-image: url("../images/pickacolor_rgb_g.png")
    top:              82px
    left:             212px


  .pickacolor-rgb-b
    background-image: url("../images/pickacolor_rgb_b.png")
    top:              112px
    left:             212px


  .pickacolor-hsb-h
    background-image: url("../images/pickacolor_hsb_h.png")
    top:              52px
    left:             282px


  .pickacolor-hsb-s
    background-image: url("../images/pickacolor_hsb_s.png")
    top:              82px
    left:             282px


  .pickacolor-hsb-b
    background-image: url("../images/pickacolor_hsb_b.png")
    top:              112px
    left:             282px


  .pickacolor-hue
    div
      background:      url("../images/indicator_advanced_dark.png") 0 0 no-repeat
      background-size: $indicatorSize


  /*
  .pickacolor-focus
    background-position: center
  */


  .pickacolor-hex
    position:   absolute
    width:      72px
    height:     22px
    background: url("../images/pickacolor_hex.png") top
    left:       212px
    top:        142px

    /*
    &.pickacolor-focus
      background-position: bottom
    */

    input
      right: 6px


  .pickacolor-submit
    position:   absolute
    width:      22px
    height:     22px
    background: url("../images/pickacolor_submit.png") top
    left:       322px
    top:        142px
    overflow:   hidden

    /*
    &.pickacolor_focus
      background-position: bottom
    */



.pickacolor-simple
  background:      url("../images/pickacolor_background_simple_light.png") 0 2px
  background-size: $simpleWidth $simpleHeight
  width:           $simpleWidth
  height:          $simpleHeight


  @extend .pickacolor


  .pickacolor-hue
    div
      background:      url("../images/indicator_simple_light.png") 0 0 no-repeat
      background-size: $indicatorSize


  .pickacolor-cancel,
  .pickacolor-new-color,
  .pickacolor-current-color,
  .pickacolor-hex,
  .pickacolor-field,
  .pickacolor-rgb-r,
  .pickacolor-rgb-g,
  .pickacolor-rgb-b,
  .pickacolor-hsb-h,
  .pickacolor-hsb-s,
  .pickacolor-hsb-b,
  .pickacolor-submit
    display: none


